*{
	margin: 0em ;
	padding: 0.01em; 
	font-family: centrury gothic;
}
h1 		{font: 700 2.0rem/1.2 Century Gothic; color: hsl(000,000%,33%);}
h2		{font: 700 2.0rem/1.2 Century Gothic; color: hsl(000,000%,33%);}
time	{font: 700 2.0rem/1.2 Century Gothic; color: hsl(000,000%,33%);}
h3		{font: 700 2.0rem/1.2 Century Gothic; color: hsl(000,000%,33%);}
p		{font: 700 2.6rem/2.0 Verdana; color: #05386B; 
		border: 1px hidden #fff; /* paragraph content control */
		right: 60%;
		margin: 50px 50px 100px 100px;}
h4 		{font: 1000 3.7rem/1.6 Century Gothic; 
		color: #5CDB95;
		top:50em;
		right: 50em;
		margin: 50px 100px;
		
}



/* text background contol*/
.background  
{border: 20px inset #203647; 
background-color: #F5F5DC; 
margin: auto; /* text box position */
top: 40em;
height: 75em;
width:75em;
position: relative;

} 
 



/* mobile positioning */


/* control background defualt*/
header{
	background-image :linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/name.jpg");
	height: 290em;
	background-size: cover;
	background-position: cover;
	position: relative;
	margin: auto;
	
}
ul{
	margin: 10px ;
	padding: 10px;
  	float: right; 
	list-style-type: none;
	overflow: visible;
	position: absolute;
	right: 0;
	top:0;
}
ul li {

	display: inline-block;
	box-sizing: content-box;
  	
}
ul li a{
	font-family: Century Gothic;
	display: block;
	text-decoration: none;
	color: #fff ;
	padding: 5px 20px;
	border: .5px solid #fff;
	transition: 0.6s ease;

}
ul li a:hover {
	background-color: #fff;
	color: #000;
}
ul li.active a{
	background-color: #fff;
	color: #000;
}
.button {
	position: absolute;
	top: 67%;
	left: 50%;
	transform: translate(-50%,-50%);

}
.btn {
	border: 1px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: .6s ease;

}
.btn:hover {
	background-color: #fff;
	color: #000;

}
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: black;
}
.logo img {
	position: absolute;
	float: left;
	width: 170px;
	height: auto;
	left: 40px;
	top: 0;
	border: 10px solid #b87333;
	background-color: #b87333;
}
/* controls title surrounding */
.title {
	margin: auto;
	position: relative;
	top: 20em;
	width: 800px;
	/*height: 100px;*/
	background-color:  #F5F5DC ;
	

	
	
}
/* control title content of */
.title h1{
	font: 900 2.0rem/1.7 Verdana; color: #283747; 
	
	background-color: #F5F5DC;
	margin: 10px 110px;
	
	font-size: 70px;
	

}

