*{
	margin: 0.0em ;
	padding: 0.01em; 
	font-family: centrury gothic
	  /*box-sizing: border-box;*/
}
h1 		{font: 700 3.0rem/1.2 Century Gothic; color:#DBC9C1 ;}
h2		{font: 700 2.0rem/1.2 Century Gothic; color: hsl(000,000%,33%);}
time	{font: 700 2.0rem/1.2 Century Gothic; color: hsl(000,000%,33%);}
h3		{font: 700 2.0rem/1.2 Century Gothic; color: hsl(000,000%,33%);}
p		{font: 700 5.0rem/1.6 Verdana; color: #E1B484; 
		border: 1px hidden #fff; /* paragraph content control */
		right: 60%;
		margin: 50px 50px 100px 100px;
		}


.background  { 
border: 20px inset #586fee; 
background-color: #586fee;  
margin: auto;
top: 50em;
height: 175em;
width:70em;
position: relative;
} /*background contol*/

.background a:link {
	text-decoration: none;
	font: 700 3.0rem/1.0 Verdana; color: #d00000; 
		border: 1px hidden #fff; /* paragraph content control */
		right: 60%;
		margin: auto;

}

.background a:visited {
	text-decoration: none;
	font: 700 3.0rem/1.0 Verdana; color: #39304A; 
		border: 1px hidden #fff; /* paragraph content control */
		right: 60%;
		margin: auto;
}

/* controls title surrounding */
.title {
	text-align: center;
	position: relative;
	top:30em;
	width: 850px;
	background-color: #E1B484;
	margin: auto;

	
	
}



/*main{
	max-width: 1080px;
	margin: auto;
		}*/
header{
	background-image :linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/projects.jpg");
	height: 300em;
	background-size: cover;
	background-position: cover;
	position: relative;
	margin: auto;

	/*width: 160em*/
}
ul{
	margin: 10px ;
	padding: 10px;
  	float: right; 
	list-style-type: none;
	overflow: visible;
	position: absolute;
	right: 0;
	top: 0;
}
ul li {

	display: inline-block;
	box-sizing: content-box;
  	
}
ul li a{
	font-family: Century Gothic;
	display: block;
	text-decoration: none;
	color: #fff ;
	padding: 5px 20px;
	border: .5px solid #fff;
	transition: 0.6s ease;

}
ul li a:hover {
	background-color: #fff;
	color: #000;
}
ul li.active a{
	background-color: #fff;
	color: #000;
}
.button {
	position: absolute;
	top: 67%;
	left: 50%;
	transform: translate(-50%,-50%);

}
.btn {
	border: 1px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: .6s ease;

}
.btn:hover {
	background-color: #fff;
	color: #000;

}
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: black;

}
.logo img {
	position: absolute;
	float: left;
	width: 170px;
	height: auto;
	left: 40px;
	top: 0;
	border: 10px solid #b87333;
	background-color: #b87333;
}

/* control title conent of */
.title h1{
	font: 700 2.0rem/1.6 Verdana; color: #0F141A; 
	border: 5px hidden black;
	background-color: #E1B484;
	margin: 40px 100px;
	
	font-size: 100px;
	

}

